@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
:root {
  font-size: 100%;
}
html {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body::before {
  content: "";
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: lightblue;
  position: absolute;
  left: 0rem;
  right: 0;
  top: -1rem;
  z-index: -1;
  opacity: 0.3;
}
body::after {
  content: "";
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: lightgreen;
  position: absolute;
  right: 0rem;
  top: 40rem;
  z-index: -1;
  opacity: 0.3;
}

header {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 7rem;
}
.tand1 {
  position: relative;
  right: -0.5rem;
  animation-name: one;
  animation-timing-function: initial;
  animation-duration: 1s;
}
.tand2 {
  position: relative;
  z-index: 1;
  animation-name: two;
  animation-timing-function: initial;
  animation-duration: 1s;
  top: -100rem;
  animation-delay: 1s;
  animation-fill-mode: both;
}
.tand3 {
  position: relative;
  right: 0.5rem;
  animation-name: three;
  animation-timing-function: initial;
  animation-duration: 1s;
}
.text {
  position: relative;
  animation-name: four;
  animation-timing-function: initial;
  animation-duration: 1s;
  animation-delay: 1.5s;
  bottom: -100rem;
  animation-fill-mode: both;
}
h1 {
  font-size: 3rem;
  color: lightblue;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
}
p {
  font-size: 1.2rem;
  color: lightseagreen;
}
.text2 {
  margin-top: 2rem;
}
.text2 p {
  color: black;
  border-bottom: 2px solid lightblue;
  padding: 1rem;
}
.naam p {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  position: relative;
  bottom: -1rem;
  color: black;
  animation-name: one;
  animation-timing-function: initial;
  animation-duration: 1s;
  animation-delay: 2s;
  left: -100rem;
  animation-fill-mode: both;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.work {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.before {
  width: 15rem;
  text-align: center;
  background-color: #2581c4;
  padding: 1rem;
}
.before img {
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 1rem;
}
.before h2 {
  font-weight: bold;
  font-size: 2rem;
}
.before h3 {
  font-size: 1.1rem;
}
.before p {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: white;
  line-height: 1.3rem;
}
.after {
  background-color: lightseagreen;
  margin-left: 0.1rem;
}
@keyframes one {
  0% {
    left: -100rem;
  }
  100% {
    left: 0;
  }
}
@keyframes two {
  0% {
    top: -100rem;
  }
  100% {
    top: 0;
  }
}
@keyframes three {
  0% {
    right: -100rem;
  }
  100% {
    right: 0;
  }
}
@keyframes four {
  0% {
    bottom: -100rem;
  }
  100% {
    bottom: 0;
  }
}
